:root{
    --lightPink: #FCEEF2;
    --medPink: #EEC9D3;
    --darkPink: #E36387;
    --lightBlue: #AACDEE;
    --medBlue: #56a3eb;
    --Blue: #2573BB;
    --darkBlue: #134677;
    --lightGreen: #B3E5B3;
    --medGreen: #67CB67;
    --darkGreen: #469A46;
    --yellow: #F5F5A1;

}
#footer{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 20px;
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--lightPink) 0%, var(--lightPink) 100%);
    background-repeat: no-repeat;
    background-size: 0em 0em;
    background-position: center;
    border-radius: 50%;
    transition: all 0.25s ease-in;
}
#footer:hover{
    color: var(--darkPink);
    background-size: 100% 100%;
    font-weight: 600;
}
.footer{
    background-color: var(--darkPink);
    color: white;
}
/* ! NAV BAR */
#nav-link {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 20px;
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--darkPink) 0%, var(--darkPink) 100%);
    background-repeat: no-repeat;
    background-size: 0em 0em;
    background-position: center;
    border-radius: 50%;
    transition: all 0.25s ease-in;
}
#nav-link:hover{
    color: white;
    background-size: 100% 100%;
    font-weight: 600;
}
Navbar {
    padding: 10px;
}

.logo a{
    color: white;
}
.ml-auto {
    margin-left: auto;
}
#nav-link {
    color: white;
    font-size: 20px;
}
#brand-toggler{
background-color: var(--darkPink);
color: white;
}
#brand {
    color: white; /* Default color */
    text-decoration: none;
    font-size: 30px;
  }

#brand:hover {
    color: var(--darkPink); /* Color on hover */
  }
body{
    background-color: var(--medPink);
    height: 100vh;
    overflow: auto;
}
.marquee{
    margin-top: 150px;
    font-size: 400px;
    color: var(--darkPink);
}